<div class="sticky-wrap" sticky disabled-sticky="disableSticking">
    <nav id="nav-main" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a ng-if="showSmallLogo" class="navbar-brand hidden-xs" href="/" style="padding: 10px;margin-left: -40px;">
                            <img src="http://placehold.it/33x33" style="height: 32px;">
                        </a>
                        <a class="navbar-brand visible-xs" href="/" style="padding: 0; margin-left: -40px;">
                            <img src="http://placehold.it/265x79" style="height: 50px;">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu" active-link>
                            <li class="active"><a ng-click="menuClose()" href="/">ANASAYFA</a></li>

                            <!--li><a ng-click="menuClose()" href="/alnusla-tanisin">ALNUS'LA TANIŞIN</a></li-->
                            <li class="dropdown">
                                <a href="/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ALNUS'LA TANIŞIN <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="hakkimizda">Hakkımızda</a></li>
                                    <li><a href="tarihcemiz">Tarihçemiz</a></li>
                                    <li><a href="yonetim-Kurulu">Yönetim Kurulu</a></li>
                                    <li><a href="baskanin-Mesaji">Başkanın Mesajı</a></li>
                                    <li><a href="ticaret-sicil-bilgileri">Ticaret Sicili Bilgileri</a></li>
                                    <li><a href="yetki-Belgelerimiz">Yetki Belgelerimiz</a></li>
                                    <li><a href="yasal-Bilgiler">Yasal Bilgiler</a></li>
                                    <li><a href="duyurular">Duyurular</a></li>
                                    <li><a href="insan-kaynaklari">İnsan Kaynakları</a></li>
                                </ul>
                            </li>

                            <!--li><a ng-click="menuClose()" href="/raporlarimiz">RAPORLARIMIZ</a></li-->
                            <li class="dropdown">
                                <a href="/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RAPORLARIMIZ<span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="faaliyet-raporlari">Faaliyet Raporları</a></li>
                                    <li><a href="faaliyet-raporlari">Mali Tablolar</a></li>
                                    <li><a href="faaliyet-raporlari">Denetim Raporları</a></li>
                                </ul>
                            </li>

                            <!--li><a ng-click="menuClose()" href="/urun-ve-hizmetlerimiz">ÜRÜN VE HİZMETLERİMİZ</a></li-->
                            <li class="dropdown multi-level">
                                <a href="/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ÜRÜN VE HİZMETLERİMİZ<span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="http://www.alnusfx.com/" target="_blank">Alnus FX</a></li>
                                    <li><a href="/arastirma">Araştırma</a></li>
                                    <li><a href="/yurtici-Satis" class="dropdown-toggle">Yurtiçi Satış</a></li>
                                    <li><a href="/pay-piyasasi" class="dropdown-toggle">Pay Piyasası</a></li>
                                    <li><a href="/viop-islemleri">Viop İşlemleri</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="/uluslararasi-piyasalar" class="dropdown-toggle">Uluslararası Piyasalar</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="https://www.alnusforex.com/" target="_blank">Forex</a></li>
                                            <li><a href="/yurtdisi-pay">Yurtdışı Pay</a></li>
                                            <li><a href="/cfd">CFD</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/sabit-gelirli-menkul-kiymetler">Sabit Getirili Menkul Kıymetler</a></li>
                                    <li><a href="/repo">Repo</a></li>
                                    <li><a href="/yatirim-fonlari">Yatırım Fonları</a></li>
                                    <li><a href="/tezgahustu-turev-araclar">Tezgahüstü Türev Araçlar</a></li>
                                    <li><a href="/vergilendirme">Vergilendirme</a></li>
                                </ul>
                            </li>

                            <li><a ng-click="menuClose()" href="/iletisim">İLETİŞİM</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-controller="ModalDemoCtrl as $ctrl"><a class="btn btn-base account-link demo" ng-click="$ctrl.open()">DEMO HESAP</a></li>
                            <li><a class="btn btn-base account-link login" onclick="window.open('https://online.alnusyatirim.com/login.asp', 'customerLogin', 'top=0,left=0,width=1024,height=708,status=yes,toolbar=no,scrollbars=yes,menubar=no,location=no,resizable=yes'); return false;" href="https://online.alnusyatirim.com/login.asp">MÜŞTERİ GİRİŞİ</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>
