<section class="home-page">

    <!-- Slider Begin -->
    <photo-slider></photo-slider>
    <!-- Slider End -->

    <!-- Parite Begin -->
    <div class="pariteler-wrap">
        <div class="container">
            <parite></parite>
        </div>
    </div>
    <!-- Parite End -->

    <div class="hizmetlerimiz">
        <div class="back-icon-layer">
            <div class="container">
                <h2 class="hizmetler-header">HİZMETLERİMİZ</h2>
                <p class="hizmetler-title">Alnus Yatırım Kalitesi ile Yatırım Yapmak Herkesin Hakkı!</p>
                <div class="row">
                    <div class="col-md-5 clear-right-spaces">
                        <div class="hizmetler-article">
                            <div class="thumbnail-img">
                                <img src="http://placehold.it/487x221">
                            </div>
                            <h3 class="article-header">FOREX</h3>
                            <p class="article-text">Forex ülkelerin para birimlerinin karşılıklı olarak alınıp satıldığı, değerinin belirlendiği bir döviz piyasasıdır. İngilizce Foreign Exchange sözcükleri kısaltılarak türetilmiştir. Global forex piyasası günlük 6 trilyon dolar işlem hacmiyle, dünyada likiditesi en yüksek finansal piyasadır. Forex Piyasalarında aktif rol alanlar; Merkez bankaları, ticari bankalar, portföy yönetim şirketleri, aracı kurum ve kuruluşlar, uluslararası fonlar, büyük yatırım şirketleri ve bireysel yatırımcılardır.</p>
                            <a class="btn btn-base btn-red" href="https://www.alnusforex.com">DEVAMINI OKU</a>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-push-2 clear-left-spaces">
                        <div class="hizmetler-article">
                            <div class="thumbnail-img">
                                <img src="http://placehold.it/487x221">
                            </div>
                            <h3 class="article-header">HİSSE / VİOP</h3>
                            <p class="article-text">Müşterinin, kurumumuz nezdinde açtıracağı hesap ve bu hesap üzerinden gerçekleştirilecek tüm sermaye piyasası işlemleri, Sermaye Piyasası Kurulunca çıkartılan ilgili her türlü mevzuat ve benzeri tüm idari düzenleme hükümlerine tabidir. Şirketimiz aracılığıyla edineceğiniz paylar, Merkezi Kayıt Kuruluşu’nda yine sizin adınıza saklanacaktır.</p>
                            <a class="btn btn-base btn-red" href="#">DEVAMINI OKU</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="neden-alnus">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="neden-alnus-header">YATIRIMIN YENİ ADI</h3>
                    <p class="neden-alnus-title">Neden Alnus Yatırım?</p>
                    <p class="neden-alnus-text">Alnus Yatırım, hizmette kaliteden ödün vermeden, yatırımcı odaklı fayda sağlamayı prensip haline getirmiştir. Yatırım öncesi ve sonrasında siz değerli müşterilerimizin tüm ihtiyaçlarını karşılayabilmek adına size özel uzmanlarımız ihtiyaç duyduğunuz her an yanınızda.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="line">Rekabetçi Spread Oranları</span>
                            <span class="line">Geniş Yetkili SPK Lisansı</span>
                            <span class="line">Uygun Swap Oranları</span>
                        </div>
                        <div class="col-md-6">
                            <span class="line">Birebir Müşteri Temsilcisi Desteği</span>
                            <span class="line">Ücretsiz Hesap Açılışı</span>
                            <span class="line">5/24 Telefonla Emir İletimi</span>
                        </div>
                    </div>
                    <a class="btn btn-base btn-red" href="#">DEVAMINI OKU</a>
                </div>
                <div class="col-md-5 col-md-push-1">
                    <div class="row">
                        <div class="col-xs-6">
                            <a ng-controller="ModalDemoCtrl as $ctrl" class="neden-alnus-img" ng-click="$ctrl.open()">
                                <img src="http://placehold.it/231x142">
                            </a>
                            <a class="neden-alnus-img" href="https://www.alnusforex.com/files/alnusfx.exe">
                                <img src="http://placehold.it/231x142">
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a class="neden-alnus-img" href="https://www.alnusforex.com/forex-gercek-hesap-ac/">
                                <img src="http://placehold.it/231x142">
                            </a>
                            <a ng-controller="ModalDemoCtrl as $ctrl" class="neden-alnus-img" ng-click="$ctrl.open()">
                                <img src="http://placehold.it/231x142">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>