<section class="home-page">

    <!-- Slider Begin -->
    <photo-slider></photo-slider>
    <!-- Slider End -->

    <!-- Parite Begin -->
    <div class="pariteler-wrap">
        <div class="container">
            <parite></parite>
        </div>
    </div>
    <!-- Parite End -->

    <div class="hizmetlerimiz">
        <div class="back-icon-layer">
            <div class="container">
                <h2 class="hizmetler-header">CONSEQUUNTUR</h2>
                <p class="hizmetler-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium</p>
                <div class="row">
                    <div class="col-md-5 clear-right-spaces">
                        <div class="hizmetler-article">
                            <div class="thumbnail-img">
                                <img src="http://placehold.it/487x221">
                            </div>
                            <h3 class="article-header">DOLOR</h3>
                            <p class="article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at beatae, culpa eaque error et, facere fugiat fugit laborum magnam neque nulla odio omnis perferendis recusandae sint unde vero, voluptate! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam, aspernatur beatae consequuntur cum deleniti deserunt error est ex maiores minus nemo neque odit sapiente similique sit tempore, unde velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a class="btn btn-base btn-red" href="#">More.</a>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-push-2 clear-left-spaces">
                        <div class="hizmetler-article">
                            <div class="thumbnail-img">
                                <img src="http://placehold.it/487x221">
                            </div>
                            <h3 class="article-header">SIT AMET</h3>
                            <p class="article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at beatae, culpa eaque error et, facere fugiat fugit laborum magnam neque nulla odio omnis perferendis recusandae sint unde vero, voluptate! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam, aspernatur beatae consequuntur cum deleniti deserunt error est ex maiores minus nemo neque odit sapiente similique sit tempore, unde velit.</p>
                            <a class="btn btn-base btn-red" href="#">More.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="neden-alnus">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="neden-alnus-header">Lorem ipsum dolor sit</h3>
                    <p class="neden-alnus-title"> Accusamus amet atque dolor error</p>
                    <p class="neden-alnus-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore enim illum necessitatibus obcaecati perferendis quam sunt vero voluptas. Aspernatur blanditiis doloremque et eveniet explicabo molestias, odit unde vitae? Cumque. Lorem ipsum dolor sit.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="line">Lorem ipsum dolor sit</span>
                            <span class="line">Amet consectetur adipisicing</span>
                            <span class="line">Consequuntur dolore enim</span>
                        </div>
                        <div class="col-md-6">
                            <span class="line">Illum necessitatibus obcaecati</span>
                            <span class="line">Perferendis quam sunt vero</span>
                            <span class="line">voluptas aspernatur blanditiis</span>
                        </div>
                    </div>
                    <a class="btn btn-base btn-red" href="#">More.</a>
                </div>
                <div class="col-md-5 col-md-push-1">
                    <div class="row">
                        <div class="col-xs-6">
                            <a ng-controller="ModalDemoCtrl as $ctrl" class="neden-alnus-img" ng-click="$ctrl.open()">
                                <img src="http://placehold.it/231x142">
                            </a>
                            <a class="neden-alnus-img" href="#">
                                <img src="http://placehold.it/231x142">
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a class="neden-alnus-img" href="#">
                                <img src="http://placehold.it/231x142">
                            </a>
                            <a ng-controller="ModalDemoCtrl as $ctrl" class="neden-alnus-img" ng-click="$ctrl.open()">
                                <img src="http://placehold.it/231x142">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>